<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Word Game</title>
        <style>
            .main {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <h1>Welcome!</h1>
            <form action="/register" method="post">
                <label for="guess">Enter your guess!</label><br>
                <input type="text" id="guess"></input>
                <button id="registerButton">Submit your guess!</button>
            </form>
            <p>*Must be a single word that consists only of letters (is not case-sensitive)</p>
        </div>
    <script>var exports = {};</script>
    <!-- <script src="/play-bundle.js">const playerID = '<%= playerID%>'</script> -->
    <script>console.log('<%= playerID%>')</script>
    </body>
</html>